{% if shows %}
<h2>Dans les 7 prochains jours</h2>
    {% for group in upcoming|groupby(attribute='air_date') %}
    <li>{{group.grouper}}
    <ul>
        {% for epgroup, list in group.list|groupby(attribute='show') %}
        <li>{{epgroup.name}}: {{list|join(', ')}}</li>
        {% endfor %}
    </ul>
    </li>
    {% endfor %}
</ul>
<h2>Progression</h2>
<table>
    <tr><th>Série</th><th>Progression</th><th>Dernière parution</th><th>Dernier visionnage</th></tr>
    {% for show in shows|sort(attribute='progression', reverse=True) %}
    <tr>
        <td><a href="{{url_for('show', show_id=show.tmdb_id)}}">{{show.name}}</a></td>
        <td>{{show.progression|round|int}}%</td>
        <td>{% if show.last_aired() %}{{show.last_aired()}}{% else %}-{% endif %}</td>
        <td>{% if show.last_seen() %}{{show.last_seen()}}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Aucune série suivie.</p>
{% endif %}
<p><a href="{{url_for('search')}}">Ajouter une série</a></p>